# [v] ◦ choose the port and host of each "server"
# [v] ◦ setup the server_names or not (server_name)
# [ ] ◦ The first server for a host:port will be the default for this host:port (meaning
#	 			it will answer to all request that doesn’t belong to an other server) (listen, )
# [v] ◦ setup default error pages (error_page)
# [v] ◦ limit client body size (client_body_limit)
# [ ] ◦ setup routes with one or multiple of the following rules/configuration (routes
#	 			wont be using regexp) (location path)
# [다시] ∗ define a list of accepted HTTP Methods for the route (methods_allowed)
# [다시] ∗ define an HTTP redirection.
#		redirecton과 methods_allowed의 관계 정립 다시!
# [v] ∗ define a directory or a file from where the file should be search (for example
#	 			if url /kapouet is rooted to /tmp/www, url /kapouet/pouic/toto/pouet
#				is /tmp/www/pouic/toto/pouet) (root)
# [ ] ∗ turn on or off directory listing (auto_index?? 맞나요?)
# [ ] ∗ default file to answer if the request is a directory
# [ ] ∗ execute CGI based on certain file extension (for example .php)
# [ ]	 · Your program should call the cgi with the file requested as first argument
# [ ]	 · the cgi should be run in the correct directory for relativ path file access
# [ ]	 · your server should work with one CGI (php-cgi, python...)
# [v] ∗ make the route able to accept uploaded files and configure where it should
#	 		be saved

server
{
    listen       8080; # port number
    server_name  localhost; # host name
    error_page   404 ./404.html

    client_body_limit  2048;

    # serve static files
    location / {
      root /html/;
	  index index.html
      auto_index on

      methods_allowed GET POST DELETE
	  cgi_info .php ./php_tester
    }

POST /2/save/article HTTP/1.1

/second/save/article.html

    # pass requests for dynamic content to rails/turbogears/zope, et al
    location /2/ {
		root /second/
		index
		auto_index on
		error_page 401 ./401.html

		methods_allowed GET POST
		cgi_info .py ./python_tester
    }

    # 다시다시다
	location /redirect/ {
        # methods_allowed GET # default
		# POST -> Error 403 //// -> GET -> Redirect
		return 301 https://www.naver.com
	}
}

#server {
#	  return 301 https://www.google.com
#}

